body {
    text-align: center;
    font-size: large;
    width: 100%;
    background-color: #000000d9;
}
header {
    margin: 20px 90px 20px 90px;
    text-align: center;
    background-color: darkmagenta;
    border-radius: 10px;
    padding: 50px;
}
nav {
  padding: 20px;
  background-color: darkgray; 
  border-radius: 10px; 
  margin: 20px 90px 20px 90px;
  display: flex;
  flex-direction: column;
}
ul {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    max-width: 200px;
    max-height: 200px;
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.2);
}
section {
    background-color: darkmagenta;
    margin: 20px 90px 20px 90px;
    padding: 50px;
    border-radius: 10px;
}
h1, h2, p, li, footer, a{
    color: white;
}
li {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
a:hover {
    color: darkorchid;
}
footer {
    background-color: dimgray;
    margin: 20px 90px 20px 90px;
    border-radius: 10px;
    padding: 10px;
}
section:hover {
    background-color: darkorchid;
}
h1 {
    font-size: 30px;
    margin: 10px;
}
h2, h4 {
    margin: 20px;
}
